<div id="footer" class="panel">
	<div class="container-fluid">
		<div class="row" style="display: flex; align-items: center; justify-content: space-between; padding: 8px 0;">
			<div style="font-size: 14px; color: #fff;">
				<span style="color: #000000;">MINE Lab, University of Notre Dame</span>
				<span style="margin-left: 12px; color: #000000">&copy; 2024</span>
			</div>
			<div style="font-size: 14px; color: #fff; text-align: right;">
				<span style="color: #000000;">354 Fitzpatrick Hall, University of Notre Dame, Notre Dame, IN 46556, USA</span>
			</div>
		</div>
	</div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<!-- Add a smooth scroll effect -->
<script>
	$(document).ready(function() {
		// Add smooth scrolling to all links
		$("a").on('click', function(event) {
			if (this.hash !== "") {
				event.preventDefault();
				var hash = this.hash;
				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 800, function(){
					window.location.hash = hash;
				});
			}
		});
	});
</script>