<footer id="footer">
  <div class="container-fluid">
    <div class="footer-grid">
      <div class="footer-brand-block">
        <img src="{{ site.url }}{{ site.baseurl }}/images/mine_logo.png" alt="MINE Lab" class="footer-logo">
        <div>
          <div class="footer-brand">MINE Lab</div>
          <div class="footer-meta">
            Machine Intelligence and kNowledge Engineering Lab · University of Notre Dame
          </div>
        </div>
      </div>
      <div class="footer-meta" style="text-align: right; min-width: 280px;">
        354 Fitzpatrick Hall, University of Notre Dame, Notre Dame, IN 46556, USA<br>
        &copy; {{ 'now' | date: "%Y" }} · Directed by <a href="https://sites.nd.edu/xiangliang-zhang/" target="_blank" rel="noopener">Prof. Xiangliang Zhang</a>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
